<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationautho">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationAutho">
        <activity
            android:name=".activity.guide_emergincy_ar"
            android:exported="false" />
        <activity
            android:name=".activity.guide_needer_ar"
            android:exported="false" />
        <activity
            android:name=".activity.guide_donator_ar"
            android:exported="false" />
        <activity
            android:name=".activity.ethics_ar"
            android:exported="false" />
        <activity
            android:name=".activity.ethics_of_donating_blood"
            android:exported="false" />
        <activity
            android:name=".activity.guide_main"
            android:exported="false" />
        <activity
            android:name=".activity.AddEmergencyPostActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddNeederActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddDonatorPostActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Loading"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>